.loader {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: rgba(65, 65, 65, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid darkorchid;
  border-radius: 50%;
  border-top: 5px solid darkcyan;
  animation: spin 0.5s linear infinite;
  opacity: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
